*~
*.o
*.a
*.d
*.pb.*
.DS_store
.*sw?
*.gz
*.html
*.tex
*.png
*.js
*.css
*.log
stamp-h1
Makefile
src/python_wrapper
src/infact/bin
src/infact/lib
src/reranker/html
src/reranker/bin
src/reranker/dep
src/reranker/obj
src/reranker/lib
src/reranker/data
src/reranker/defs.py
src/libb64/src/depend
src/dataconvert/asr_nbest_proto
src/dataconvert/mt_nbest_proto
src/proto/bin
src/libb64/base64/bin
src/scripts/python_wrapper
zeros/feats/bin
aclocal.m4
config.h
config.status
autom4te.cache
.deps
